---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: yellow-book-api-secrets
  namespace: yellowbooks
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: "yellow-book/api"
        objectType: "secretsmanager"
        jmesPath:
          - path: DATABASE_URL
            objectAlias: DATABASE_URL
          - path: GOOGLE_GENERATIVE_AI_API_KEY
            objectAlias: GOOGLE_GENERATIVE_AI_API_KEY
          - path: UPSTASH_REDIS_TOKEN
            objectAlias: UPSTASH_REDIS_TOKEN
          - path: UPSTASH_REDIS_URL
            objectAlias: UPSTASH_REDIS_URL
  secretObjects:
    - secretName: api-secrets
      type: Opaque
      data:
        - objectName: DATABASE_URL
          key: DATABASE_URL
        - objectName: GOOGLE_GENERATIVE_AI_API_KEY
          key: GOOGLE_GENERATIVE_AI_API_KEY
        - objectName: UPSTASH_REDIS_TOKEN
          key: UPSTASH_REDIS_TOKEN
        - objectName: UPSTASH_REDIS_URL
          key: UPSTASH_REDIS_URL
---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: yellow-book-web-secrets
  namespace: yellowbooks
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: "yellow-book/web"
        objectType: "secretsmanager"
        jmesPath:
          - path: DATABASE_URL
            objectAlias: WEB_DATABASE_URL
          - path: AUTH_SECRET
            objectAlias: AUTH_SECRET
          - path: AUTH_GITHUB_ID
            objectAlias: AUTH_GITHUB_ID
          - path: AUTH_GITHUB_SECRET
            objectAlias: AUTH_GITHUB_SECRET
  secretObjects:
    - secretName: web-secrets
      type: Opaque
      data:
        - objectName: WEB_DATABASE_URL
          key: DATABASE_URL
        - objectName: AUTH_SECRET
          key: AUTH_SECRET
        - objectName: AUTH_GITHUB_ID
          key: AUTH_GITHUB_ID
        - objectName: AUTH_GITHUB_SECRET
          key: AUTH_GITHUB_SECRET
